.joinBody {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  div {
    a {
      font-weight: 600;
    }
  }
}
.joinPart {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: $white;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  padding: 20px;
  hr {
    width: 70%;
    margin-bottom: 20px;
  }
}
.joinForm {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  input {
    background-color: $inputColor;
    width: 250px;
    margin-bottom: 14px;
    padding: 8px;
    border-radius: 4px;
    color: white;
    border: none;
  }
  input:last-child {
    width: 150px;
    background-color: $blackgray;
    font-size: 18px;
    color: white;
    border: none;
  }
  input:last-child:hover {
    background-color: $hoverGray;
  }
}