doctype html 
html(lang="en")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="http://unpkg.com/mvp.css")
    body 
        header
            h1 = pageTitle 
        block content
    include partials/footer