doctype html 
html(lang="en")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="http://unpkg.com/mvp.css@1.14.0")
    body 
        header
            h1=pageTitle 
        block content
        include partials/footer