extends base


block content
    main.joinBody
        if errorMessage 
            sapn=errorMessage
        div.joinPart
            form(method="POST").joinForm
                input(placeholder="Name" name="name"  required type="text")
                input(placeholder="Email" name="email"  required type="email")
                input(placeholder="Username" name="username"  required type="text")
                input(placeholder="Password" name="password" required type="password")
                input(placeholder="Confirm password" name="password2" required type="password")
                input(placeholder="Location" name="location" required type="text")
                input(type="submit" value="Join")
    div.auth-switch
        span Already have an account? 
        a(href="/login") Log in now &rarr;